body > div#updateUser > form > div#title {
    display: block;
    width: 100%;
    height: 45px;
    padding: 3px 0px 0px 5px;
}

body > div#updateUser > form > div#result {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%);
    flex-wrap: wrap;
    padding: 3px;
}

body > div#updateUser > form > div#result > table#viewResult {
    width: 100%;
    padding: 3px;
}

body > div#updateUser > form > div#result > div#buttArea {
    float: right;
    padding: 3px;
}

body > div#updateUser > form > div#result > div#buttArea > input.btn {
    background-color: lightgray !important;
    width: 70px;
    border: 1px solid dimgray;
}

body > div#updateUser > form > div#result > div#buttArea > input.btn:last-child {
    background-color: dimgray !important;
}