* {
    position: relative;
}

body > div#createCate > form > div#formTitle {
    display: block;
    width: 100%;
    height: 45px;
    padding: 3px 0px 0px 5px;
}

body > div#createCate > form > div#result {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%);
    flex-wrap: wrap;
    padding: 3px;
}

body > div#createCate > form > div#result > table#viewResult {
    width: 100%;
    padding: 3px;
    table-layout: fixed;
}

body > div#createCate > form > div#result > table#viewResult input {
    height: 27.56px;
}

body > div#createCate > form > div#result > table#viewResult tr
body > div#createCate > form > div#result > table#viewResult th,
body > div#createCate > form > div#result > table#viewResult td {
    height: 49px !important;
    vertical-align: middle;
}

body > div#createCate > form > div#result > div#buttArea {
    float: right;
    padding: 3px;
    width: 230px;
}

body > div#createCate > form > div#result > div#buttArea > input.btn {
    background-color: lightgray !important;
    width: 70px;
    border: 1px solid dimgray;
}

body > div#createCate > form > div#result > div#buttArea > input.btn:nth-child(even) {
    background-color: dimgray !important;
}
