<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/admin/index.css" />
</head>
<body>
    <div id="hiddenForm">
        <form action="/am/home" id="home">home</form>
        <form action="/am/searchUsers" id="user">user</form>
        <form action="/am/users" id="cate">cate</form>
        <form action="/am/users" id="item">item</form>
        <form action="/am/users" id="partner">partner</form>
        <form action="/am/hiddenForm" id="hidden">partner</form>
    </div>
</body>
</html>